<h1>My Tasks</h1>

<div>
  <ul>
    <% @tasks.each do |task| %>
    <lu>
      <p value="<%= task.id %>"><input type="checkbox" <%= task.completed == true ? "checked" : "" %>><%= link_to task.title, task_path(task.id)%>
      <%= link_to "Delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </p>

    </lu>
    <% end %>
  </ul>

  <p><%=link_to "Add a new task", tasks_new_path%></p>
</div>

